body{
	padding: 20px;
	width: 1050px;
	font-family: arial;
	}

.logo{
 margin: 45px 0 45px 0;
}

.menu{
	background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	margin: 0 0 45px 0;
}

.menu1{
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 100px;
	color: white;
	text-shadow: 0 1px 1px black, 0 0 0em gray;
}

.menu1:hover{
  background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  border-right: 1px solid #838383;
  border-left: 1px solid #838383;
}

.list{
	float:left;
}

.list1{
	border: 1px solid #c8c8c8;
	margin: 0 45px 0 0;
	width: 220px;
	height: 30px;
	padding: 15px 0 0 30px;
}

.list1:hover{
	background-color: #f9f9f9;
	padding: 15px 0 0 45px;
	width: 205px;
}

.content{
	border: 1px solid #c8c8c8;
}

.text{
	text-align: left;
	padding: 35px 0 0 330px;
	line-height: 1.5;
}

.footer{
	background-color: #e1e1e1;
	margin: 45px 0 0 0;
}

.foot{
	text-align: center;
	padding: 10px;
	display: inline-block;
	width: 100px;
}

.foot:hover{
	text-decoration: underline;
}

.foot1{
	width: 500px;
	text-align: right;
}

.foot1:hover{
	text-decoration: none;
}